<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.GOTEL.SchoolCar.Mapper.WorkerMapper">
    <select id="getAll" resultType="com.GOTEL.SchoolCar.Entity.Worker">
        select *
        from Worker
        where WID != ''
        <if test="map.realName != null and map.realName != ''">
            AND W_RealName = #{map.realName}
        </if>
        <if test="map.department != null and map.department != ''">
            AND W_Department = #{map.department}
        </if>
        <if test="map.branch != null and map.branch != ''">
            AND W_Branch = #{map.branch}
        </if>
        <if test="map.jobNumber != null and map.jobNumber != ''">
            AND W_JobNumber = #{map.jobNumber}
        </if>
    </select>

    <select id="getByWID" resultType="com.GOTEL.SchoolCar.Entity.Worker">
        select WID, w_realname, w_name, w_password, w_department, w_branch, w_tel, w_email, w_jobnumber, w_id
        from Worker
        where WID = #{wid}
    </select>

    <select id="getByJobNumber" resultType="com.GOTEL.SchoolCar.Entity.Worker">
        select *
        from worker
        where W_JobNumber = #{jobNumber}
    </select>

    <select id="getPasswordByWID">
        select W_Password
        from worker
        where WID = #{wid}
    </select>

    <update id="updateInf" parameterType="com.GOTEL.SchoolCar.Entity.Worker">
        update worker
        <set>
            W_RealName = #{W_RealName},
            W_Name = #{W_Name},
            W_Password = #{W_Password},
            W_Department = #{W_Department},
            W_Branch = #{W_Branch},
            W_Tel = #{W_Tel},
            W_Email = #{W_Email},
            W_JobNumber = #{W_JobNumber},
            W_ID = #{W_ID}
        </set>
        <where>
            WID=#{WID}
        </where>
    </update>

    <update id="updatePassword">
        update worker
        set W_Password = #{password}
        where WID = #{wid}
    </update>

    <select id="getWorkerNumber">
        select count(worker.WID)
        from worker
    </select>

    <select id="getAllWid">
        select worker.WID
        from worker
    </select>

    <insert id="insertWorker">
        insert into worker(wid, w_realname, w_name, w_password, w_department, w_branch, w_tel, w_email, w_jobnumber,
                           w_id)
        VALUES (#{WID}, #{W_RealName}, #{W_Name}, #{W_Password}, #{W_Department}, #{W_Branch}, #{W_Tel}, #{W_Email},
                #{W_JobNumber}, #{W_ID})
    </insert>

    <insert id="insertByMap">
        insert into worker(wid, w_realname, w_name, w_password, w_department, w_branch, w_tel, w_email, w_jobnumber,
                           w_id)
        VALUES (#{map.wid}, #{map.realName}, #{map.name}, #{map.password}, #{map.department}, #{map.branch}, #{map.tel},
                #{map.email}, #{map.jobNumber}, #{map.id})
    </insert>
</mapper>
