.container-page {
    margin-top: 10px;
}
.el-container {
    height: 100%;
}
.el-aside {
    box-shadow: 0 5px 10px black;
}
.el-menu {
    height: 100%;
}
.el-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.el-menu-item span {
    font-size: large;
    font-weight: bolder;
    text-align: center;

    margin-left: 10px;
}
.el-menu-item i {
    font-size: large;
}
.clicked {
    color: #3366FF;
    text-shadow: 0 8px 10px #6699FF;
}
.el-main {
    box-shadow: 0 5px 10px black;

    margin-left: 10px;
}
