.list-table .el-table {
    width: 100%; /* 根据需要调整 */
    border: 1px solid #ddd; /* 添加边框 */
    border-radius: 4px; /* 添加圆角 */
}

.list-table .el-table::before {
    content: "";
    display: block;
}

.list-table .el-table /deep/ th {
    background-color: #f5f7fa; /* 表头背景色 */
    color: #333; /* 表头字体颜色 */
    padding: 10px; /* 表头内边距 */
}

.list-table .el-table /deep/ td {
    border-bottom: 1px solid #ddd; /* 表格行下边框 */
    padding: 10px; /* 表格行内边距 */
}

.list-table .el-table /deep/ tr:nth-child(even) {
    background-color: #f9f9f9; /* 偶数行背景色 */
}

.list-table .el-table .text-content {
    /* 展开内容的样式 */
    border-bottom: 1px solid #ddd;
}
